{% if order_extra %}

<hr />
<h4 class="text-center text-muted mb-md-3">Added by your waiter:</h4>

{% for item in order_extra.items.all %}

<div class="row">
  <div class="col-md-6">
    <h5>{{ item.quantity }}x {{ item.menu_item.name }}</h5>
  </div>
  <div class="col-md-2 text-right">
    <h5>£{{ item.get_price }}</h5>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-outline-secondary btn-block" onclick="btnOrderExtraRemoveItem(this, {{ order_extra.id }}, {{ item.id }})">
      remove from order
    </button>
  </div>
</div>

{% endfor %}

<div class="row mt-md-3">
  <div class="col-md-6">
    <h4><strong>Total price with added items:</strong></h4>
  </div>
  <div class="col-md-6 text-right">
    <h4 class="text-right"><strong id="adjustedTotal">£0.00</strong></h4>
  </div>
</div>

<script>

var total = calculateTotal(){% for item in order_extra.items.all %} + {{ item.get_price }}{% endfor %};

$("#adjustedTotal").text("£" + Number.parseFloat(total).toFixed(2));

var orderExtra = {
  {% for item in order_extra.items.all %}
  "{{ item.menu_item.id }}": {{ item.quantity }},
  {% endfor %}
}
</script>

{% else %}

<hr />
<h4 class="text-center text-muted mb-md-3">Want suggestions? Our waiters are happy to help.</h4>

{% endif %}
