<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="css/css.css"
</head>

<body>
    <div class="menu-body">
        <div class="menu-section">
            <h2 class="menu-section-title">MAIN COURSE</h2>
            <div class="menu-item">
                <div class="menu-item-name">
                    {% if all_menu %}
                            {% for menu in all_menu %}
                            <dt><a href="/customer/{{ menu.id }}/">{{ menu.name }}................................................ £{{menu.price}}</a></dt>
                            {% endfor %}
                    {% else %}
                        <h3>There are no items inside the menu database</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>