{% extends "customer/base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}
  <h1 class="text-center">Menu</h1>
  <hr />
  {% if all_menu %}
    <div class="row">
      {% for menu_item in all_menu %}
        <div class="col-md-6 mb-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <h3 class="card-title">{{ menu_item.name }}</h2>
                  <h6 class="card-subtitle text-muted">Vegetarian, vegan, allergies, etc</h6>
                  <p class="card-text">
                    A description of the menu item.
                  </p>
                  <a href="/customer/{{ menu_item.id }}/">Additional information</a>
                  <button type="button" class="btn btn-primary" onclick="addToOrder({{ menu_item.id }})">Add to order</button>
                </div>
                <div class="col-md-3">
                  <h2 class="text-center">£{{ menu_item.price }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning">
      No menu data recieved
    </div>
  {% endif %}
<script src="{% static "customer/js/menu.js" %}"></script>
{% endblock %}
