<!-- Script for returning to the index page of the site if the user mistakenly clicked wrong section -->
<script>
function goBack() {
    window.history.back();
}
</script>
<script>
    function refresh() {
        window.location.reload();
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Deliveries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
    <div class="container-fluid">
        <button type="button" class="btn btn-default" onclick="location.href='/waiter/'">Go back</button>
        <button type="button" class="btn btn-default" onclick="location.href='/waiter/deliveries'">Refresh Page</button>
    </div>

    <div class="container">
        <div class="row">

                <h3>Order Delivered</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>Order Items</th>
                            <th>Delivered?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if delivery %}
                            {% for delivery_item in delivery %}
                            <tr>
                                <td>{{delivery_item.table}}</td>
                                <td>{{delivery_item.items}}</td>

                                <form method="POST">{% csrf_token %}
                                    <input type="hidden" name="delivery_id" value="{{delivery_item.id}}">
                                    <td><button type="submit" class="btn btn-primary btn-lg btn-block">Delivered</button></td>
                                </form>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

        </div>
    </div>
</body>