<!-- Script for returning to the index page of the site if the user mistakenly clicked wrong section -->
<script>
function goBack() {
    window.history.back();
}
</script>
<style media="screen" type="text/css">

.btn-bigboi {
    padding: 180px 280px;
    font-size: 1000px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Waiters Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
        <div class="container-fluid">
            <button type="button" class="btn btn-default" onclick="goBack()">Go back</button>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-lg btn-block" onclick="window.location.href='./orders'">Orders
                {% if all_orders %}
                    {% with total=all_orders.count %}
                        <font color="LIGHTSALMON">(+{{total}})</font>
                    {% endwith %}
                {% endif %}
            </button>
        </div>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-lg btn-block" onclick="window.location.href='./deliveries'">Deliveries</button>
            </div>
      </div>
    </div>
</body>