<!-- Script for returning to the index page of the site if the user mistakenly clicked wrong section -->
<script>
function goBack() {
    window.history.back();
}
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Waiters Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
    <div class="container-fluid">
        <button type="button" class="btn btn-default" onclick="goBack()">Go back</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Order Delivered?</h3>
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose an Order
                          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                      </ul>
                  </div>

            </div>
        </div>
    </div>
</body>