{% extends "waiter/base.html" %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}
  <h1 class="text-center">Orders</h1>
  <hr />
    <div class="row" id="order-container">
      <div class="col-md-12 mb-md-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h2 class="card-title">Order Number</h2>
                <p class="card-text">
                  Items which have been ordered.
                </p>
              </div>
              <div class="col-md-3">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block endjs %}<script src="{% static "waiter/js/orders.js" %}"></script>{% endblock %}
