{% extends "base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<!-- Modal - show the customer's order and let them confirm it -->
<div class="modal fade" id="showOrderModalCenter" tabindex="-1" role="dialog" aria-labelledby="showOrderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showOrderModalLongTitle">Your Order:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div id="order-container">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <h4>Item Name</h4>
                </div>
                <div class="col-md-3">
                  <h4>Price</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h4>Total</h4>
            </div>
            <div class="col-md-3">
              <h4 id="total-price">Total</h4>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="placeOrder()">Place order</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - displaying that the order has been placed -->
<div class="modal fade" id="placeOrderModalCenter" tabindex="-1" role="dialog" aria-labelledby="placeOrderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="placeOrderModalLongTitle">Order Sent!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Order Sent!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - showing additional information - -->
{% for menu_item in all_menu %}
<div class="modal fade" id="{{menu_item.id}}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{menu_item.name}} - £{{menu_item.price}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-image text-center">
          <p><img class="img-responsive" src="{{menu_item.image}}" border="25" style="max-height:250px;"></p>
        </div>
        <p>{{menu_item.description}}</p>
        <p><i>{% if menu_item.allergy != "" %}Contains {{ menu_item.allergy }} {% endif %}</i></p>
        <p>{{menu_item.calories}}kcal</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal - calling over waiter -->
<div class="modal fade" id="callWaiterModalCenter" tabindex="-1" role="dialog" aria-labelledby="callWaiterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callWaiterModalLongTitle">Waiters notified</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Someone will be with you shortly
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - choose table -->
<div class="modal fade" id="chooseTableModalCenter" tabindex="-1" role="dialog" aria-labelledby="chooseTableModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTableModalLongTitle">Where are you sitting?</h5>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Available seating:</h6>
        <div class="container-fluid">
          <div class="row">
            {% if seating %}
              {% for seat in seating %}
                <div class="col-md-6 mb-md-1">
                  <button type="button" class="btn-seating-option btn btn-primary btn-lg btn-block" name="{{ seat.label }}" value="{{ seat.id }}">
                    {{ seat.label }}
                  </button>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                No seating data recieved
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Modal - vegan filtered -->
<div class="modal fade" id="chooseTableModalCenter" tabindex="-1" role="dialog" aria-labelledby="chooseTableModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTableModalLongTitle">Where are you sitting?</h5>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Available seating:</h6>
        <div class="container-fluid">
          <div class="row">
            {% if seating %}
              {% for seat in seating %}
                <div class="col-md-6 mb-md-1">
                  <button type="button" class="btn-seating-option btn btn-primary btn-lg btn-block" name="{{ seat.label }}" value="{{ seat.id }}">
                    {{ seat.label }}
                  </button>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                No seating data recieved
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Visible Menu - main content for the page -->
<div>
  <h1 class="text-center">Menu</h1>
  <hr />
  <div class="row mb-md-3">
    <div class="col-md-4">
      <h2 id="seating-label">{% if seating_label %}{{ seating_label }}{% endif %}</h2>
    </div>
    <div class="col-md-4 text-right">
        <h5>Need some help?</h5>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm btn-block" onclick="buttonHelp(this)">Call a waiter</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
      <h5>Not found what you're looking for?</h5>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#sortMenu">Filter menu</button>
      <div class="modal fade" id="sortMenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Filter Oaxaca Menu:</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
          <div class="modal-body">
            <div class="container">
                <label class="checkbox-inline">
                  <input type="checkbox" id="vegetarian" value="">Vegetarian
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="vegan" value="">Vegan
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="wheat-free" value="">Wheat Free
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="milk-free" value="">Milk Free
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="nut-free" value="">Nut Free
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="meat" value="">Meat
                </label>
                <button class="btn-filter btn btn-success btn-sm btn-block" >Submit</button>
                <button class="btn btn-warning btn-sm btn-block" onclick="window.location.reload()">Remove Applied Filters</button>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  {% if all_menu %}
    <div class="row">
      {% for menu_item in all_menu %}
        <div class="col-md-6 mb-md-3">
          {% if menu_item.vegetarian %}
          <div class="card veg-item">
          {% endif %}
          {% if menu_item.vegan %}
          <div class="vegan-item">
          {% endif %}
          {% if menu_item.allergy == "Wheat" %}
          <div class="wheat-item">
          {% endif %}
          {% if menu_item.allergy == "Milk" %}
          <div class="milk-item">
          {% endif %}
          {% if menu_item.allergy == "Nuts" %}
          <div class="nut-item">
          {% endif %}
          {% if menu_item.meat %}
          <div class="meat-item">
          {% endif %}
          <div class="card ">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <h3 class="card-title">{{ menu_item.name }} </h3>
                  <h6 class="card-subtitle text-muted">
                    {% if menu_item.allergy != "" %}
                      Contains {{ menu_item.allergy }}
                    {% endif %}
                  </h6>
                  <p class="card-text">
                    {{ menu_item.description }}
                  </p>
                  <a data-target="#{{menu_item.id}}" data-toggle="modal" href="#{{menu_item.id}}">Click here for more information</a>
                  <button type="button" class="btn btn-primary" onclick="addToOrder({{ menu_item.id }}, '{{ menu_item.name }}', {{ menu_item.price }})">Add to order</button>
                </div>
                <div class="col-md-3">
                  <h2 class="text-center">£{{ menu_item.price }}</h2>
                  <h6 class="text-center">{{ menu_item.calories }}kcal</h6>
                </div>
              </div>
            </div>
          </div>
        {% if menu_item.vegetarian %}
        </div>
        {% endif %}
        {% if menu_item.vegan %}
        </div>
        {% endif %}
        {% if menu_item.allergy == "Wheat" %}
        </div>
        {% endif %}
        {% if menu_item.allergy == "Milk" %}
        </div>
        {% endif %}
        {% if menu_item.allergy == "Nuts" %}
        </div>
        {% endif %}
        {% if menu_item.meat %}
        </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="col-md-12 mb-md-3">
      <hr />
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="showOrder()">Place order</button>
    </div>
    <br />
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='./statuses'">Order Statuses</button>
    </div>
  </div>
    <br />
  {% else %}
    <div class="alert alert-warning">
      No menu data received
    </div>
  {% endif %}
</div>

{% endblock %}
{% block endjs %}
<script>var seatingLabel = "{% if seating_label %}{{seating_label}}{% else %}{% endif %}";</script>
<script src="{% static "customer/js/menu.js" %}"></script>
{% endblock %}
