{% extends "customer/base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<!-- Modal - calling over waiter -->
<div class="modal fade" id="callWaiterModalCenter" tabindex="-1" role="dialog" aria-labelledby="callWaiterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callWaiterModalLongTitle">Waiters notififed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Someone will be with you shortly
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - choose table -->
<div class="modal fade" id="chooseTableModalCenter" tabindex="-1" role="dialog" aria-labelledby="chooseTableModalCenterTitle" aria-hidden="true"data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTableModalLongTitle">Where are you sitting?</h5>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Available seating:</h6>
        <div class="container-fluid">
          <div class="row">
            {% if seating %}
              {% for seat in seating %}
                <div class="col-md-6 mb-md-1">
                  <button type="button" class="btn-seating-option btn btn-primary btn-lg btn-block" name="{{ seat.label }}" value="{{ seat.id }}">
                    {{ seat.label }}
                  </button>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                No seating data recieved
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Visible Menu - main content for the page -->
<div>
  <h1 class="text-center">Menu</h1>
  <hr />
  <div class="row mb-md-3">
    <div class="col-md-4">
      <h2 id="seating-label">{% if seating_label %}{{ seating_label }}{% endif %}</h2>
    </div>
    <div class="col-md-4 text-right">
        <h3>Need some help?</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="buttonHelp(this)">Call a waiter</button>
    </div>
  </div>
  {% if all_menu %}
    <div class="row">
      {% for menu_item in all_menu %}
        <div class="col-md-6 mb-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <h3 class="card-title">{{ menu_item.name }} </h3>
                  <h6 class="card-subtitle text-muted">{% if menu_item.allergy != "" %}
                    Contains {{ menu_item.allergy }}
                  {% endif %}</h6>
                  <p class="card-text">
                    {{ menu_item.description }}
                  </p>
                  <a href="/customer/{{ menu_item.id }}/">Additional information</a>
                  <button type="button" class="btn btn-primary" onclick="addToOrder({{ menu_item.id }}, '{{ menu_item.name }}', {{ menu_item.price }})">Add to order</button>
                </div>
                <div class="col-md-3">
                  <h2 class="text-center">£{{ menu_item.price }}</h2>
                  <h6 class="text-center">{{ menu_item.calories }}kcal</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-12">
      <hr />
      <h2 class="text-center">Your Order</h2>
      <div id="order-container">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h4>Item Name</h4>
              </div>
              <div class="col-md-3">
                <h4>Price</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h4>Total</h4>
            </div>
            <div class="col-md-3">
              <h4 id="total-price">Total</h4>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="placeOrder()">Place order</button>
    </div>
  {% else %}
    <div class="alert alert-warning">
      No menu data recieved
    </div>
  {% endif %}
</div>

{% endblock %}
{% block endjs %}
<script>var seatingLabel = ""; {% if seating_label %}seatingLabel = "{{seating_label}}";{% endif %}</script>
<script src="{% static "customer/js/menu.js" %}"></script>
{% endblock %}
