{% extends "basewide.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<!-- Modal - show the customer's order and let them confirm it -->
<div class="modal fade" id="showOrderModalCenter" tabindex="-1" role="dialog" aria-labelledby="showOrderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showOrderModalLongTitle">Your Order:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">

      <div id="order-container">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h4>Item Name</h4>
              </div>
              <div class="col-md-3">
                <h4>Price</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h4>Total</h4>
            </div>
            <div class="col-md-3">
              <h4 id="total-price">Total</h4>
            </div>
          </div>
        </div>
      </div>

      <div id="container-order-extra">

      </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="placeOrder()">Place order</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - displaying that the order has been placed -->
<div class="modal fade" id="placeOrderModalCenter" tabindex="-1" role="dialog" aria-labelledby="placeOrderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="placeOrderModalLongTitle">Order Sent!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Order Sent!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - showing additional information - -->
{% for menu_item in all_menu %}
<div class="modal fade" id="{{menu_item.id}}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{menu_item.name}} - £{{menu_item.price}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-image text-center">
          <p><img class="img-responsive" src="{{menu_item.image}}" border="25" style="max-height:250px;"></p>
        </div>
        <p>{{menu_item.description}}</p>
        <p><i>{% if menu_item.allergy != "" %}Contains {{ menu_item.allergy }} {% endif %}</i></p>
        <p>{{menu_item.calories}}kcal</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal - calling over waiter -->
<div class="modal fade" id="callWaiterModalCenter" tabindex="-1" role="dialog" aria-labelledby="callWaiterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callWaiterModalLongTitle">Waiters notified</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Someone will be with you shortly
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - choose table -->
<div class="modal fade" id="chooseTableModalCenter" tabindex="-1" role="dialog" aria-labelledby="chooseTableModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chooseTableModalLongTitle">Where are you sitting?</h5>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Available seating:</h6>
        <div class="container-fluid">
          <div class="row">
            {% if seating %}
              {% for seat in seating %}
                <div class="col-md-6 mb-md-1">
                  <button type="button" class="btn-seating-option btn btn-primary btn-lg btn-block" name="{{ seat.label }}" value="{{ seat.id }}">
                    {{ seat.label }}
                  </button>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                No seating data recieved
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Visible Menu - main content for the page -->
<div class="row">

<div class="col-lg-2">
  <div class="sticky-top">
    <h2 id="seating-label" class="text-center">{% if seating_label %}{{ seating_label }}{% endif %}</h2>
    <button type="button" class="btn btn-primary btn-block" onclick="buttonHelp(this)">
      <i class="fas fa-user fa-pull-left fa-lg"></i> Call a waiter
    </button>
    <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#collapseMenuFiltering">
      <i class="fas fa-filter fa-pull-left fa-lg"></i> Filter menu
    </button>

    <div class="collapse" id="collapseMenuFiltering">
      <hr />

      <button type="button" class="btn btn-success btn-block filter-btn" name="Vegetarian" value="false" id="vegetarian">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Vegetarian
      </button>

      <button type="button" class="btn btn-success btn-block filter-btn" name="Vegan" value="false" id="vegan">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Vegan
      </button>

      <button type="button" class="btn btn-success btn-block filter-btn" name="Containing meat" value="false" id="meat">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Containing meat
      </button>

      <button type="button" class="btn btn-success btn-block filter-btn" name="Containing wheat" value="false" id="wheat-free">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Containing wheat
      </button>

      <button type="button" class="btn btn-success btn-block filter-btn" name="Containing milk" value="false" id="milk-free">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Containing milk
      </button>

      <button type="button" class="btn btn-success btn-block filter-btn" name="Containing nuts" value="false" id="nut-free">
        <i class="fas fa-check fa-pull-left fa-lg"></i> Containing nuts
      </button>
    </div>

    <hr />

    <button type="button" class="btn btn-primary btn-block" onclick="showOrder()">
      <i class="fas fa-align-justify fa-pull-left fa-lg"></i> View order
    </button>
    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='./statuses'">
      <i class="fas fa-info-circle fa-pull-left fa-lg"></i> Order statuses
    </button>
    <button id="payButton" type="button" class="btn btn-primary btn-block" onclick="window.location.href='./payment'" {% if not order.paid %}enabled{% else %}disabled{% endif %}>
      <i class="fas fa-credit-card fa-pull-left fa-lg"></i> Pay
    </button>
  </div>
</div>


<div class="col-lg-10 pt-3">

  {% if all_menu %}
    <div class="row">
      {% for menu_item in all_menu %}
      {% if not menu_item.removed %}
        <div class="col-md-4 mb-md-3{% if menu_item.vegan %} vegan-item{% endif %}{% if menu_item.vegetarian %} veg-item{% endif %}{% if menu_item.allergy == "Wheat" %} wheat-item{% endif %}{% if menu_item.allergy == "Milk" %} milk-item{% endif %}{% if menu_item.allergy == "Nuts" %} nut-item{% endif %}{% if menu_item.meat %} meat-item{% endif %}">
          <div class="card mb-1">
            <div class="card-body">

              <h4 class="card-title">{{ menu_item.name }} </h4>
              <h6 class="card-subtitle text-muted">
                {{ menu_item.calories }}kcal
                {% if menu_item.allergy != "" %}| Contains {{ menu_item.allergy }}{% endif %}
              </h6>
              <p class="card-text lead mb-0">
                {{ menu_item.description }}
              </p>
              <h5 >£{{ menu_item.price }} | <a class="text-info" data-target="#{{menu_item.id}}" data-toggle="modal" href="#{{menu_item.id}}">more information</a></h5>

              <div id="containerOrderButton{{ menu_item.id }}">
                <button type="button" class="btn btn-primary btn-block addButton" onclick="addToOrder({{ menu_item.id }}, '{{ menu_item.name }}', {{ menu_item.price }})">
                  Add to order
                </button>

                <div class="row mt-1 incDecButtons" style="display: none;">
                  <div class="col-6">
                    <h5><strong id="quantity{{ menu_item.id }}">X</strong> in your order</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-warning" onclick="decOrderItem({{ menu_item.id }})">
                      <i class="fas fa-minus fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-success" onclick="incOrderItem({{ menu_item.id }})">
                      <i class="fas fa-plus fa-lg"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="fixed-bottom">
      <div class="row p-3 bg-secondary">
        <div class="col-lg-4 offset-lg-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="showOrder()">
            View order
          </button>
        </div>
      </div>
    </div>

  {% else %}
    <div class="alert alert-warning">
      No menu data received
    </div>
  {% endif %}
</div>

</div>

{% endblock %}

{% block endjs %}
<script>var seatingLabel = "{% if seating_label %}{{seating_label}}{% else %}{% endif %}";</script>
<script src="{% static "customer/js/menu.js" %}"></script>
{% endblock %}
