{% extends "basewide.html" %}
{% load static %}
{% block title %}Statuses{% endblock %}
{% block content %}

<div class="row">

<div class="col-lg-2">
  <div class="sticky-top">
    <h2 id="seating-label" class="text-center">{% if seating_label %}{{ seating_label }}{% endif %}</h2>
    <a type="button" class="btn btn-primary btn-block" href="/customer">
      <i class="fas fa-chevron-left fa-pull-left fa-lg"></i>Back
    </a>
  </div>
</div>

<div class="col-lg-10 pt-3">

<div id="container-customer-cards">
  {# populate customer cards here #}
</div>

</div>
</div>

{% endblock %}

{% block endjs %}<script src="{% static "customer/js/statuses.js" %}"></script>{% endblock %}
