{% extends "basewide.html" %}

{% load static %}

{% block title %}Waiter Assignment{% endblock %}

{% block content %}

<div class="row">

<div class="col-lg-2">
  <div class="sticky-top pt-1">
    <a href="{% url 'index' %}" class="btn btn-primary btn-block">
      <i class="fas fa-chevron-left fa-pull-left fa-lg"></i> Control Panel
    </a>
    <button id="btnAutoAssign" onclick="autoAssign(this)" class="btn btn-primary btn-block mb-md-3">
      Auto-Assign
    </button>
  </div>
</div>

<div class="col-lg-10 pt-3">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="text-center">Waiter Seating Assignments</h3>
      <hr />
      <div id="container-assignments">
        {# populate waiter assignment info here #}
      </div>
    </div>

    <div class="col-lg-4">
      <h3 class="text-center">Waiters</h3>
      <div id="container-waiters">
        {# populate waiter info here #}
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block endjs %}<script src="{% static "manager/js/assignment.js" %}"></script>{% endblock %}
