{% extends "basewide.html" %}

{% load static %}

{% block title %}Realtime Data{% endblock %}

{% block content %}

<!-- modal = menu item stock -->
<div class="modal fade" id="menuStockModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="menuStockModalLabel">Current Stock</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="container-stock">
        {# populate list of menu items and their stock here #}
      </div>
    </div>
  </div>
</div>

<div class="row">

<div class="col-lg-2">
  <div class="sticky-top pt-1">
    <a href="{% url 'index' %}" class="btn btn-primary btn-block">
      <i class="fas fa-chevron-left fa-pull-left fa-lg"></i> Control Panel
    </a>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#menuStockModal">
      <i class="fas fa-cubes fa-pull-left fa-lg"></i> View Stock
    </button>
    <div id="container-summary">
      {# populate summary of restraunt data here #}
    </div>
  </div>
</div>

<div class="col-lg-10 pt-3">
  <div class="row">
    <div class="col-lg-9">
      <h2 class="text-center">Active Orders</h2>
      <div id="container-orders">
        {# populate active orders here #}
      </div>
    </div>

    <div class="col-lg-3">
      <h2 class="text-center">Seating</h2>
      <hr />
      <div id="container-tables">
        {# populate active orders here #}
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block endjs %}<script src="{% static "manager/js/data.js" %}"></script>{% endblock %}
