{% extends "base.html" %}

{% load static %}

{% block title %}Employee Data{% endblock %}

{% block content %}

<div class="row mt-md-3">
  <div class="col-xl-2">
    <h3 class="text-center">Managers</h3>
    <div id="container-managers">
      {# populate managers here #}
      {% if managers %}
      {% for manager in managers %}

      <hr />
      <h5>{{ manager.username }}</h5>
      <h5>{{ manager.get_full_name }}</h5>

      {% endfor %}
      {% else %}

      <div class="alert alert-warning">
        No managers.
      </div>

      {% endif %}
    </div>
  </div>

  <div class="col-xl-2">
    <h3 class="text-center">Kitchen Staff</h3>
    <div id="container-kitchen">
      {# populate kitchen staff here #}
    </div>
  </div>

  <div class="col-xl-8">
    <h3 class="text-center">Waiters</h3>
    <div id="container-waiters">
      {# populate waiter data here #}
    </div>
  </div>
</div>

{% endblock %}

{% block endjs %}<script src="{% static "manager/js/employee.js" %}"></script>{% endblock %}
