{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

<hr />

<h5><strong>{{ user.get_full_name }}</strong> <span class="text-muted">({{ user.get_username }})</span></h5>

{% if waiter.onduty %}
<button type="button" class="btn btn-success btn-block" onclick="waiterOffDuty(this, '{{ user.get_username }}')">
  <i class="fas fa-check fa-pull-left fa-lg"></i> Currently on duty
</button>
{% else %}
<button type="button" class="btn btn-warning btn-block" onclick="waiterOnDuty(this, '{{ user.get_username }}')">
  <i class="fas fa-times fa-pull-left fa-lg"></i> Currently off duty
</button>
{% endif %}
<h6 class="text-center text-muted">(click to toggle)</h6>

<hr />

<h5><strong>Your assigned tables:</strong></h5>

{% if users_tables %}
<div class="row">
  {% for table in users_tables %}
    <div class="col-md-4">
      <h5>{{ table.label }}</h5>
    </div>
  {% endfor %}
</div>
{% else %}
  <div class="alert alert-warning">
    None assigned.
  </div>
{% endif %}

{% endblock %}
