{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

{% if seating %}

<div class="row">
  {% for seat in seating %}

  <div class="col-md-4">
    <h5>{{ seat.label }}</h5>
  </div>

  <div class="col-md-4">
    {% if seat.waiter != "" %}
      <h5>{{ seat.waiter }}</h5>
    {% else %}
      <h5><span class="badge badge-danger">NONE</span></h5>
    {% endif %}
  </div>

  <div class="col-md-4">
    Button
  </div>

  {% endfor %}
</div>

{% else %}

<div class="alert alert-warning">
  No seating.
</div>

{% endif %}

{% endblock %}
