{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

<h4>Tables assigned to {{ user.get_username }} </h4>
    <!-- off duty button -->
    <div style="float:right clearfix">
    <button type="button" class="btn btn-success btn-lg btn-block"
            onclick="waiterOnDuty(this, '{{ user.get_username }}')">On Duty</button>
    <button type="button" class="btn btn-danger btn-lg btn-block"
            onclick="waiterOffDuty(this, '{{ user.get_username }}')">Off Duty</button>
    </div>

{% endblock %}
