{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

<div class="row">
  <div class="col-md-9">
  <h4>Tables assigned to {{ user.get_full_name }} ({{ user.get_username }}):</h4>

    {% if users_tables %}
    {% for table in users_tables %}
      <h5>{{ table.label }}</h5>
    {% endfor %}

    {% else %}
      <div class="alert alert-warning">
        None assigned.
      </div>
    {% endif %}
  </div>

  <div class="col-md-3">
    <button type="button" class="btn btn-success btn-lg btn-block" onclick="waiterOnDuty(this, '{{ user.get_username }}')">
      On Duty
    </button>
    <button type="button" class="btn btn-danger btn-lg btn-block" onclick="waiterOffDuty(this, '{{ user.get_username }}')">
      Off Duty
    </button>
  </div>
</div>

{% endblock %}
