<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Oaxaca Restaurant System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<main>
    <div class="jumbotron text-center">
  <h1>Oaxaca Restaurant System</h1>
  <p>Oaxaca - home to unique delicious Mexcian street food and first class table service since 2007.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Customer:</h3>
        <a href="/customer/">
      <img src="customer.jpg" class="img-responsive" alt="Customer" width="450" height="361">
        </a>
    </div>
    <div class="col-sm-4">
      <h3>Waiter:</h3>
        <a href="/waiter/">
        <img src="waiter.jpg" class="img-responsive" alt="Waiter" width="450" height="320">
        </a>
    </div>
    <div class="col-sm-4">
      <h3>Kitchen:</h3>
        <a href="/kitchen/">
      <img src="kitchen.jpg" class="img-responsive" alt="Kitchen" width="450" height="320">
        </a>
    </div>
  </div>
</div>
</main>
</body>
</html>

