{% extends "base.html" %}

{% load static %}

{% block title %}Deliveries{% endblock %}

{% block content %}
<button type="button" class="btn btn-default" onclick="location.href='/waiter/'">Go back</button>
<button type="button" class="btn btn-default" onclick="location.href='/waiter/deliveries'">Refresh Page</button>

<div class="container">
  <div class="row">
    <h3>Order Delivered</h3>
    <table class="table">
      <thead>
        <tr>
            <th>Table</th>
            <th>Order Items</th>
            <th>Delivered?</th>
        </tr>
      </thead>
      <tbody>
        {% if delivery %}
          {% for delivery_item in delivery %}
          <tr>
            <td>{{delivery_item.table}}</td>
            <td>{{delivery_item.items}}</td>

            <form method="POST">{% csrf_token %}
              <input type="hidden" name="delivery_id" value="{{delivery_item.id}}">
              <td><button type="submit" class="btn btn-primary btn-lg btn-block">Delivered</button></td>
            </form>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block endjs %}<script src="{% static "waiter/js/deliveries.js" %}"></script>{% endblock %}
