{% extends "base.html" %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-9">

  <h1 class="text-center">Orders</h1>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Requiring confirmation:</h2>
      <div id="container-confirm">
        {# populate orders which need confirming here #}
      </div>
    </div>

    <div class="col-md-4">
      <h2 class="text-center">Ready to be delivered:</h2>
      <div id="container-delivery">
        {# populate orders which need delivering here #}
      </div>
    </div>

    <div class="col-md-4">
      <h2 class="text-center">Delivered, unpaid orders:</h2>
      <div id="container-unpaid">
        {# populate orders which need to be paid for here #}
      </div>
    </div>
  </div>

</div>

<div class="col-md-3">
  <h2>Tables need assistance:</h2>
  {% if want_assistance %}
      {% for table in want_assistance %}
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ table.label }}</h3>
            <button type="button" class="btn btn-block" onclick="requestHelp({{ table.id }})">X</button>
          </div>
        </div>
      {% endfor %}
  {% endif %}
</div>

</div>

{% endblock %}

{% block endjs %}<script src="{% static "waiter/js/index.js" %}"></script>{% endblock %}
