{% extends "base.html" %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}

<h1 class="text-center">Orders</h1>
<hr />

<div id="container-alerts">
  {# populate alerts here #}
</div>

<div class="row">
  <div class="col-md-4">
    <h2 class="text-center">Requiring confirmation:</h2>
    <div id="container-confirm">
      {# populate orders which need confirming here #}
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Ready to be delivered:</h2>
    <div id="container-delivery">
      {# populate orders which need delivering here #}
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Delivered and unpaid:</h2>
    <div id="container-unpaid">
      {# populate orders which need to be paid for here #}
    </div>
  </div>
</div>

{% endblock %}

{% block endjs %}<script src="{% static "waiter/js/index.js" %}"></script>{% endblock %}
