{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}
{% if orders %}
{% for order in orders %}

<div class="card mb-md-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h2 class="card-title">Order #{{ order.id }} - {{ order.table }}</h2>
        <p class="card-text">
          {{ order.items | linebreaksbr }}
        </p>
        <h3>Total price: {{ order.get_price_display }}</h3>
        <h3>Time Ordered: {{ order.get_time_display }}</h3>
      </div>
      <div class="col-md-3 text-center">
        <button type="button" class="btn btn-primary btn-lg"
        onclick="confirmOrder(this, ${ orderID })" {% if order.confirmed %}disabled{% endif %}>
          {% if order.confirmed %}Confirmed{% else %}Confirm{% endif %}
        </button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% else %}

<div class="alert alert-warning">
  List of orders was not provided.
</div>

{% endif %}
{% endblock %}
