<style media="screen" type="text/css">

body {
  padding: 3rem;
}
.main_index{
  font-family: georgia;
  font-size: 30px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

</style>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>
<main role="main" class="container">

  <div class="main_index">
    <h1>Restaurant Management System</h1>
    <p class="information">some concise information about the system</p>
  </div>

</main>
</body>
</html>

