{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

<div class="card mb-md-3">
  <div class="card-header text-center py-1">
    <h3 class="card-title">Tables</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-1">
      <h5>Occupied:</h5>
      <h2 class="text-center">{{ seating_data.occupied_count }}</h2>
    </li>
    <li class="list-group-item py-1">
      <h5>Available:</h5>
      <h2 class="text-center">{{ seating_data.available_count }}</h2>
    </li>
  </ul>
</div>

<div class="card mb-md-3">
  <div class="card-header text-center py-1">
    <h3 class="card-title">Orders</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-1">
      <h5>Total active:</h5>
      <h2 class="text-center">{{ order_data.active_count }}</h2>
    </li>
    <li class="list-group-item py-1">
      <h5>Unconfirmed:</h5>
      <h2 class="text-center">{{ order_data.unconfirmed_count }}</h2>
    </li>
    <li class="list-group-item py-1">
      <h5>Preparing:</h5>
      <h2 class="text-center">{{ order_data.confirmed_count }}</h2>
    </li>
    <li class="list-group-item py-1">
      <h5>Ready:</h5>
      <h2 class="text-center">{{ order_data.ready_count }}</h2>
    </li>
    <li class="list-group-item py-1">
      <h5>Delivered (today):</h5>
      <h2 class="text-center">{{ order_data.delivered_today }}</h2>
    </li>
  </ul>
</div>

{% endblock %}
