{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}

<h3>Summary</h3>
<hr />

<h4>Tables</h4>
<h5>Occupied: <strong>{{ seating_data.occupied_count }}</strong></h5>
<h5>Available: <strong>{{ seating_data.available_count }}</strong></h5>
<hr />

<h4>Orders</h4>
<h5><strong>Active</strong></h5>
<h5>Total active: <strong>{{ order_data.active_count }}</strong></h5>
<h5>Unconfirmed: <strong>{{ order_data.unconfirmed_count }}</strong></h5>
<h5>Preparing: <strong>{{ order_data.confirmed_count }}</strong></h5>
<h5>Ready: <strong>{{ order_data.ready_count }}</strong></h5>
<h5><strong>Delivered</strong></h5>
<h5>Today: <strong>{{ order_data.delivered_today }}</strong></h5>
<h5>This week: <strong>{{ order_data.delivered_week }}</strong></h5>
<h5><strong>Cancelled</strong></h5>
<h5>Today: <strong>{{ order_data.cancelled_today }}</strong></h5>
<h5>This week: <strong>{{ order_data.cancelled_week }}</strong></h5>

{% endblock %}
