{% extends debug|yesno:"base.html,empty.html" %}

{% block content %}
{% if seating %}

<div class="row">
  {% for seat in seating %}
    <div class="card col-md-4">
      <div class="card-body text-center p-1">
        <h5>{{ seat.label }}</h5>
        {% if seat.assistance %}
          <h5><span class="badge badge-primary">Assistance</span></h5>
        {% elif seat.available %}
          <h5><span class="badge badge-secondary">Available</span></h5>
        {% else %}
          <h5><span class="badge badge-success">Occupied</span></h5>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% else %}

<div class="alert alert-warning">
  No occupied tables.
</div>

{% endif %}
{% endblock %}
